name: Sync Fork with Upstream

on:
  schedule:
    - cron: '0 */6 * * *' # S'exécute toutes les 6 heures
  workflow_dispatch: # Permet de le lancer manuellement aussi via un bouton

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout target repo
        uses: actions/checkout@v3
        with:
          ref: main # Ta branche à toi

      - name: Sync upstream changes
        id: sync
        uses: aormsby/Fork-Sync-With-Upstream-action@v3.4
        with:
          target_sync_branch: main
          target_repo_token: ${{ secrets.GITHUB_TOKEN }} # Token automatique, rien à configurer
          upstream_sync_repo: projet-synthese-gi26/fare-calculator-front # Le nom du repo upstream
          upstream_sync_branch: main # La branche upstream
          test_mode: false